<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044627841354-649qgtfa6km5vk5s1qkcnh4qd7vn3mba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044627841354-649qgtfa6km5vk5s1qkcnh4qd7vn3mba</string>
	<key>API_KEY</key>
	<string>AIzaSyBxXO5FXgaiMFP59Qk_23Y-UgJkWhxIJvc</string>
	<key>GCM_SENDER_ID</key>
	<string>1044627841354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oidele.FirebaseBackendAPI</string>
	<key>PROJECT_ID</key>
	<string>demobackendapi</string>
	<key>STORAGE_BUCKET</key>
	<string>demobackendapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044627841354:ios:0cc6cb699158c529d361b3</string>
</dict>
</plist>